In [3]:
import pickle
import os
import pandas as pd
from tqdm import tqdm
import numpy as np
import joblib

from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, balanced_accuracy_score

from d2c.benchmark import D2CWrapper

from d2c.descriptors.loader import DataLoader

from sklearn.ensemble import RandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

In [4]:
model = joblib.load('/home/jpalombarini/td2c/notebooks/contributions/Real_data_validation/model.pkl')
ts = np.loadtxt('/home/jpalombarini/td2c/notebooks/contributions/Real_data_validation/data/Web_activity/preprocessed_1.txt', delimiter=',',skiprows=1, usecols=range(1, 11))

In [5]:
d2cwrapper = D2CWrapper(ts_list=[ts], 
                        n_variables=10, 
                        model=model, 
                        maxlags=1, 
                        n_jobs=1, 
                        full=True, 
                        quantiles=True,
                        filename='d2c_results',
                        normalize=True, 
                        cmi='original', 
                        mb_estimator='original')

d2cwrapper.run()

causal_df = d2cwrapper.get_causal_dfs()

Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)
Shape of X: (7499, 19), Shape of Y: (7499,)

In [6]:
causal_df

{0:     from  to effect p_value  probability  is_causal
 0     12   4   None    None         0.20      False
 1     17   3   None    None         0.06      False
 2     19   0   None    None         0.18      False
 3     19   9   None    None         0.24      False
 4     10   6   None    None         0.20      False
 ..   ...  ..    ...     ...          ...        ...
 95    10   4   None    None         0.30      False
 96    11   3   None    None         0.06      False
 97    13   6   None    None         0.20      False
 98    15   3   None    None         0.08      False
 99    18   8   None    None         0.50      False

 [100 rows x 6 columns]}

In [7]:
df = causal_df[0]
# order df by 'from' and 'by' columns
df = df.sort_values(by=['from', 'to'])
df

    from  to effect p_value  probability  is_causal
78    10   0   None    None         0.48      False
48    10   1   None    None         0.14      False
88    10   2   None    None         0.14      False
56    10   3   None    None         0.18      False
95    10   4   None    None         0.30      False
..   ...  ..    ...     ...          ...        ...
87    19   5   None    None         0.18      False
29    19   6   None    None         0.16      False
94    19   7   None    None         0.38      False
63    19   8   None    None         0.24      False
3     19   9   None    None         0.24      False

[100 rows x 6 columns]

In [8]:
df.to_csv('/home/jpalombarini/td2c/notebooks/contributions/Real_data_validation/data/Web_activity/results/causal_df.csv', index=False)

In [9]:
# load a dataset as dataframe
ts2 = pd.read_csv('/home/jpalombarini/td2c/notebooks/contributions/Real_data_validation/data/Web_activity/preprocessed_1.txt')

# drop the first column
ts2 = ts2.drop(columns=ts2.columns[0])

# list the names in the first row
names = ts2.columns

# associate a number to each name
name_to_number = {name: i+1 for i, name in enumerate(names)}

name_to_number

{'Cpu_php': 1,
 'Net_In_Global': 2,
 'Disque_write_global': 3,
 'Ram_http': 4,
 'Net_Out_Global': 5,
 'Nb_connection_mysql': 6,
 'Nb_process_php': 7,
 'Cpu_http': 8,
 'Cpu_global': 9,
 'Nb_process_http': 10}

In [10]:
# show levels of 'from' in df
df['from'].unique()

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [11]:
df['to'].unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [12]:
mapping = {10: 1, 11: 2, 12: 3, 13: 4, 14: 5, 15: 6, 16: 7, 17: 8, 18: 9, 19: 10}

# Apply the mapping
df['from'] = df['from'].replace(mapping)

In [13]:
mapping = {0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10}

# Apply the mapping
df['to'] = df['to'].replace(mapping)

In [14]:
df

    from  to effect p_value  probability  is_causal
78     1   1   None    None         0.48      False
48     1   2   None    None         0.14      False
88     1   3   None    None         0.14      False
56     1   4   None    None         0.18      False
95     1   5   None    None         0.30      False
..   ...  ..    ...     ...          ...        ...
87    10   6   None    None         0.18      False
29    10   7   None    None         0.16      False
94    10   8   None    None         0.38      False
63    10   9   None    None         0.24      False
3     10  10   None    None         0.24      False

[100 rows x 6 columns]

In [15]:
# show only df rows that have 'is_causal' == True
df[df['probability'] > 0.2]

    from  to effect p_value  probability  is_causal
78     1   1   None    None         0.48      False
95     1   5   None    None         0.30      False
64     1   6   None    None         0.22      False
71     1   8   None    None         0.26      False
79     1  10   None    None         0.24      False
92     3   3   None    None         0.26      False
68     3   6   None    None         0.22      False
49     4   1   None    None         0.22      False
31     4   6   None    None         0.22      False
40     4   8   None    None         0.22      False
50     4  10   None    None         0.36      False
22     6   1   None    None         0.28      False
51     6   7   None    None         0.36      False
66     7   1   None    None         0.36      False
52     7   6   None    None         0.46      False
14     7   7   None    None         0.42      False
24     7   9   None    None         0.32      False
67     7  10   None    None         0.28      False
43     9   1   None    None         0.30      False
91     9   7   None    None         0.24      False
99     9   9   None    None         0.50      False
44     9  10   None    None         0.42      False
70    10   2   None    None         0.34      False
77    10   4   None    None         0.22      False
94    10   8   None    None         0.38      False
63    10   9   None    None         0.24      False
3     10  10   None    None         0.24      False

In [16]:
# take only the columns 'from', 'to'
caus = df[df['probability'] > 0.2][['from', 'to']]

number_to_name = {v: k for k, v in name_to_number.items()}

# apply the mapping
caus['from'] = caus['from'].replace(number_to_name)
caus['to'] = caus['to'].replace(number_to_name)

caus

                   from                   to
78              Cpu_php              Cpu_php
95              Cpu_php       Net_Out_Global
64              Cpu_php  Nb_connection_mysql
71              Cpu_php             Cpu_http
79              Cpu_php      Nb_process_http
92  Disque_write_global  Disque_write_global
68  Disque_write_global  Nb_connection_mysql
49             Ram_http              Cpu_php
31             Ram_http  Nb_connection_mysql
40             Ram_http             Cpu_http
50             Ram_http      Nb_process_http
22  Nb_connection_mysql              Cpu_php
51  Nb_connection_mysql       Nb_process_php
66       Nb_process_php              Cpu_php
52       Nb_process_php  Nb_connection_mysql
14       Nb_process_php       Nb_process_php
24       Nb_process_php           Cpu_global
67       Nb_process_php      Nb_process_http
43           Cpu_global              Cpu_php
91           Cpu_global       Nb_process_php
99           Cpu_global           Cpu_global
44           Cpu_global      Nb_process_http
70      Nb_process_http        Net_In_Global
77      Nb_process_http             Ram_http
94      Nb_process_http             Cpu_http
63      Nb_process_http           Cpu_global
3       Nb_process_http      Nb_process_http

In [17]:
# save caus to a csv file
caus.to_csv('/home/jpalombarini/td2c/notebooks/contributions/Real_data_validation/data/Web_activity/results/causal_relations.csv', index=False)

In [18]:
# load a txt file as dataframe
gt = pd.read_csv('/home/jpalombarini/td2c/notebooks/contributions/Real_data_validation/data/Web_activity/ground_truth.txt')
gt

                                    From -> To
0              Net_In_Global -> Net_Out_Global
1             Net_In_Global -> Nb_process_http
2         Net_In_Global -> Nb_connection_mysql
3                  Nb_process_http -> Cpu_http
4            Nb_process_http -> Nb_process_php
5                  Nb_process_http -> Ram_http
6                    Nb_process_php -> Cpu_php
7        Nb_process_php -> Nb_connection_mysql
8        Nb_connection_mysql -> Net_Out_Global
9   Nb_connection_mysql -> Disque_write_global
10           Nb_connection_mysql -> Cpu_global
11                      Cpu_http -> Cpu_global
12                       Cpu_php -> Cpu_global
13           Disque_write_global -> Cpu_global

In [19]:
# merge column 'from' with column 'to' of caus to create a new column 'From -> To'
caus['From -> To'] = caus['from'] + ' -> ' + caus['to']
caus = caus.drop(columns=['from', 'to'])
caus

                                    From -> To
78                          Cpu_php -> Cpu_php
95                   Cpu_php -> Net_Out_Global
64              Cpu_php -> Nb_connection_mysql
71                         Cpu_php -> Cpu_http
79                  Cpu_php -> Nb_process_http
92  Disque_write_global -> Disque_write_global
68  Disque_write_global -> Nb_connection_mysql
49                         Ram_http -> Cpu_php
31             Ram_http -> Nb_connection_mysql
40                        Ram_http -> Cpu_http
50                 Ram_http -> Nb_process_http
22              Nb_connection_mysql -> Cpu_php
51       Nb_connection_mysql -> Nb_process_php
66                   Nb_process_php -> Cpu_php
52       Nb_process_php -> Nb_connection_mysql
14            Nb_process_php -> Nb_process_php
24                Nb_process_php -> Cpu_global
67           Nb_process_php -> Nb_process_http
43                       Cpu_global -> Cpu_php
91                Cpu_global -> Nb_process_php
99                    Cpu_global -> Cpu_global
44               Cpu_global -> Nb_process_http
70            Nb_process_http -> Net_In_Global
77                 Nb_process_http -> Ram_http
94                 Nb_process_http -> Cpu_http
63               Nb_process_http -> Cpu_global
3           Nb_process_http -> Nb_process_http

In [20]:
print(f'Numbers of correctly estimated causal paths: {sum(caus["From -> To"].isin(gt["From -> To"]))} / {gt.shape[0]}'), 
print(f'Percentage of correctly estimated causal paths: {round((sum(caus["From -> To"].isin(gt["From -> To"])) / gt.shape[0]) * 100, 2)}%')

Numbers of correctly estimated causal paths: 4 / 14
Percentage of correctly estimated causal paths: 28.57%